$regular: 300;
$semibold: 400;
$bold: 700;
$link-color: #658dc4;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}



body {
  font: 'Open Sans', sans-serif;
}
.dropdown .fa, button .fa {
  font-size: 70%;
}


.head-nav{ 
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow:         0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}
.divider {
  border-top: 1px solid #e7e7e7;
}

.navbar {
  background: #fff;
  border: 0;
  border-radius: 0;

  .header-logo {
    max-height: 200%;
    margin-top: -10px;
  } 
  
  #login {
    color: $link-color;
    text-decoration: underline;
  }
}

.search-container {
  background-color: #f7f7f7;
  margin-top: -20px;
  padding-top: 15px;

  button {
    padding: 5px 15px;
  }
  input {
    @include border-radius(3px);
    font-size: 12px;
    font-weight: $regular;
  }
  .form-control-feedback {
    left: 0;
    padding-left: 24px;
    color: #9f9f9f;
  }
  .form-control {
    padding-left: 30px;
  }
}

.red-button {
  background:  rgba(189, 14, 59, 0.9);
  color: #fff;
  box-shadow: 0px 3px 0px rgba(140, 17, 49, 0.8);
}

.blue-button {
  background:  rgba(55, 134, 186, 0.9);
  color: #fff;
  box-shadow: 0px 3px 0px rgba(31, 96, 140, 0.8);
}

.red-button:hover {
  background:  rgba(189, 14, 59, 1.0);
  color: #f7f7f7;
  box-shadow: 0px 3px 0px rgba(140, 17, 49, 1.0);
}
.blue-button:hover {
  background:  rgba(55, 134, 186, 1.0);
  color: #f7f7f7;
  box-shadow: 0px 3px 0px rgba(31, 96, 140, 1.0);
}


.section1 {
  height: 450px;
  .bg {
    background-image: url("../img/banner.png");
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  .jumbotron {
    background-color: transparent;
    color: #fff;
    vertical-align: middle;
  }
  .jumbotron:before {
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
  }
  .jumbotron-banner {
    .banner-header {
      font-weight: $bold;
      font-size: 34px;
    }

    .banner-text {
      font-weight: $semibold;
      font-size: 18px;
      margin: 40px auto;
      max-width: 600px;
    }
  }
}

.section2 {
  padding: 50px 0;
  span, button {
    margin: 25px 0;
  }
}

.text-header {
  font-weight: $semibold;
  font-size: 26px;
}

.line-text {
  font-weight: $regular;
  font-size: 14px;
}

.slide-text {
  @extend .line-text;
  display: table;

  i, span {
    display: table-cell;
  }
  i {
    color: #3688bf;
    padding-right: 10px;
  }
}

.carousel-indicators {
  bottom: -40px;
  li {
    background: #fff;
    border: none;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  li.active {
    background: #4a94c6;
    border: none;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5); 
  }
}

.section3 {
  .container-fluid {
    background-color: #f7f7f7;
    padding: 70px 0;
  }
  p.line-text {
    padding: 20px 0;
  }
  .text-header {
    padding-top: 30px;
  }
  ul li {
    list-style: none;
    padding-top: 10px;
  }
  ul:last-child {
    padding-bottom: 50px;
  }
  ul {
    padding-left: 0;
  }
}

.section4 {
  padding: 30px 0; 

  .nav-tabs li a {
    @include border-radius(3px);
    font-weight: 500;
    font-size: 15px;
    color: #262626;
    padding: 10px 30px;
  }
  
  .nav-tabs > li.active > a, 
  .nav-tabs > li > a:hover,
  .tab-content{
    background-color: #f9f9f9;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .nav-tabs > li.active.tab1 > a {
    box-shadow: 5px -3px 15px -3px rgba(50, 50, 50, 0.1);
  }
  .nav-tabs > li.active.tab2 > a {
    box-shadow: -5px -3px 15px -3px rgba(50, 50, 50, 0.1);
  }

  .tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .nav-tabs {
      margin-bottom: 0;
  }
  form {
    padding: 30px 0;
    div.col-sm-4 {
      padding: 0; 
    }

    button {
      margin-top: 30px;
      i {
        font-size: 12px;
        padding: 0 5px;
      }
    }
  }
  form > .container {
    display: table-cell;
  }
}

.section5 {
  color: #fff;
  
  /* .container-fluid {
    background: url('../img/sub-bg.png') no-repeat center center;
    padding: 50px 0;
    height: 350px;
  } */
  .bg2 {
    background-image: url("../img/sub-bg.png");
    height: 350px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  p {
    padding-bottom: 20px;
  }
  .sub-header {
    font-size: 26px;
    font-weight: $semibold;
  }
  .sub-text {
    font-size: 15px;
    font-weight: $regular;
  }
  form {
    max-width: 850px;
    margin: 0 auto;

    input, button {
      margin: 10px;
    }
  }

  form input {
    @include border-radius(3px);
    border: 0;
    padding: 10px 10px 10px 15px;
    color: #555;
    width: 200px;
  }
  .blue-button {
    width: 150px;
  }
  .glyphicons {
    color: #555;
  }

  
  
  /* .datalist:before,
  .datalist:after {
    content: '';
    position: absolute;
    pointer-events: none;  
  }
  .datalist:before {
    content: '\f078';
    font-family: 'FontAwesome';
    top: 50%;
    right: 2px;
    margin-top: -20px;
    font-size: 10px;
    line-height: 40px;
    color: #212121;
  }

  .datalist:hover:after {
    background: #000;
  } */
}

.section6 {
  time {
    font-size: 13px;
    font-weight: $regular;
    color: #636363;
  }
  img {
    width: 100%;
    padding: 15px 0;
  }
  .news-header {
    font-size: 15px;
    font-weight: 500;
  }
  .news-text {
    font-size: 14px;
  }
  .news-link {
    color: $link-color;
    font-size: 13px;
    text-decoration: underline;
  }
}

footer {
  padding-top: 30px;
  
  a {
    color: #212121;
  }

  section .container-fluid {
    background-color: #f7f7f7;
  }
  .nav-container {
    border-bottom: 1px solid #c9c9c9;
    a {
      font-size: 13px;
    }
    img {
      max-height: 200%;
      margin-top: -10px;
    }
  }
  .footer-links {
    padding: 20px 0;
    font-size: 14px;
    section {
      padding-top: 20px;

      .box-header {
        font-weight: $semibold;
      }
      ul {
        list-style: none;

        li {
          padding-top: 5px;
          font-size: 13px;
          font-weight: $regular;
        }
      }
      p {
        margin: 0;
      }

      .phone {
        font-size: 20px;
        font-weight: $semibold;
      }
      .order-cell {
        color: $link-color;
        text-decoration: underline;
        cursor: pointer;
      }
      address {
        color: #646464;
        padding: 10px 0;
        margin: 0;
      }
      .social-icons a:hover {
        text-decoration: none;
      }
      .soc-icon {
        padding-right: 10px;
      }
    }    
  }

  .copy {
    font-size: 12px;
    padding: 10px 0;
    margin: 0;
  }
}
.navbar-toggle {
  .icon-bar {
    background-color: #888;
  }
  border: 1px solid #ddd;
}
input::-webkit-calendar-picker-indicator {
  opacity: 1;
}
.section-header {
  font-weight: $semibold;
  font-size: 26px;
  padding: 15px 0;
}
.btn { 
  @include border-radius(3px);
  font-size: 14px;
  padding: 10px 15px;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }
}

@media (max-width: 991px) {
  .section5 {
    form button.btn {
      width: 200px;
    }
  }
  footer .nav-container img, .navbar .header-logo  {
    max-height: 150%;
    margin-top: -5px;
  }
}