$regular: 300;
$semibold: 400;
$bold: 700;
$link-color: #658dc4;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}



body {
  font: 'Open Sans', sans-serif;
}
.dropdown .fa, button .fa {
  font-size: 70%;
}


.head-nav{ 
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow:         0px 3px 15px 0px rgba(0, 0, 0, 0.15);
}
.divider {
  border-top: 1px solid #e7e7e7;
}

.navbar {
  background: #fff;
  border: 0;
  border-radius: 0;

  .header-logo {
    max-height: 200%;
    margin-top: -10px;
  } 
  
  #login {
    color: $link-color;
    text-decoration: underline;
  }
}

.search-container {
  background-color: #f7f7f7;
  margin-top: -20px;
  padding-top: 15px;

  button {
    padding: 5px 15px;
  }
  input {
    @include border-radius(3px);
  }
  .form-control-feedback {
    left: 0;
    padding-left: 24px;
  }
  .form-control {
    padding-left: 30px;
  }
}

.red-button {
  background:  rgba(189, 14, 59, 0.9);
  color: #fff;
  box-shadow: 0px 3px 0px rgba(140, 17, 49, 0.8);
}

.blue-button {
  background:  rgba(55, 134, 186, 0.9);
  color: #fff;
  box-shadow: 0px 3px 0px rgba(31, 96, 140, 0.8);
}

.red-button:hover {
  background:  rgba(189, 14, 59, 1.0);
  color: #f7f7f7;
  box-shadow: 0px 3px 0px rgba(140, 17, 49, 1.0);
}
.blue-button:hover {
  background:  rgba(55, 134, 186, 1.0);
  color: #f7f7f7;
  box-shadow: 0px 3px 0px rgba(31, 96, 140, 1.0);
}


.bg {
  background: url('../img/banner.png') no-repeat center center;
  height: 600px;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: -1;
}
.jumbotron {
  color: white;
  height: 600px;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

.jumbotron-banner {
  max-width: 600px;
  margin: 50px auto;

  .banner-header {
    font-weight: $bold;
    font-size: 34px;
  }

  .banner-text {
    font-weight: $semibold;
    font-size: 18px;
    margin: 40px auto;
  }
}
.section1 {
  height: 450px;
}

.section2 {
  padding: 50px 0;
  span, button {
    margin: 25px 0;
  }
}

.text-header {
  font-weight: $semibold;
  font-size: 26px;
}

.line-text {
  font-weight: $regular;
  font-size: 14px;
}

.slide-text {
  @extend .line-text;
  display: table;

  i, span {
    display: table-cell;
  }
  i {
    color: #3688bf;
    padding-right: 10px;
  }
}

.carousel-indicators {
  bottom: -40px;
  li {
    background: #fff;
    border: none;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  li.active {
    background: #4a94c6;
    border: none;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5); 
  }
}

.section3 {
  .container-fluid {
    background-color: #f7f7f7;
    padding: 70px 0;
  }
  p.line-text {
    padding: 20px 0;
  }
  .text-header {
    padding-top: 30px;
  }
  ul li {
    list-style: none;
    padding-top: 10px;
  }
  ul:last-child {
    padding-bottom: 50px;
  }
}


.btn { 
  @include border-radius(3px);
  font-size: 14px;
  padding: 10px 15px;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
  }

  .navbar .navbar-collapse {
      text-align: center;
  }
}