body {
  font: 'Open Sans', sans-serif; }

.dropdown .fa, button .fa {
  font-size: 70%; }

.head-nav {
  -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.15); }

.divider {
  border-top: 1px solid #e7e7e7; }

.navbar {
  background: #fff;
  border: 0;
  border-radius: 0; }
  .navbar .header-logo {
    max-height: 200%;
    margin-top: -10px; }
  .navbar #login {
    color: #658dc4;
    text-decoration: underline; }

.search-container {
  background-color: #f7f7f7;
  margin-top: -20px;
  padding-top: 15px; }
  .search-container button {
    padding: 5px 15px; }
  .search-container input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .search-container .form-control-feedback {
    left: 0;
    padding-left: 24px; }
  .search-container .form-control {
    padding-left: 30px; }

.red-button {
  background: rgba(189, 14, 59, 0.9);
  color: #fff;
  box-shadow: 0px 3px 0px rgba(140, 17, 49, 0.8); }

.blue-button {
  background: rgba(55, 134, 186, 0.9);
  color: #fff;
  box-shadow: 0px 3px 0px rgba(31, 96, 140, 0.8); }

.red-button:hover {
  background: #bd0e3b;
  color: #f7f7f7;
  box-shadow: 0px 3px 0px #8c1131; }

.blue-button:hover {
  background: #3786ba;
  color: #f7f7f7;
  box-shadow: 0px 3px 0px #1f608c; }

.bg {
  background: url("../img/banner.png") no-repeat center center;
  height: 600px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1; }

.jumbotron {
  color: white;
  height: 600px;
  text-shadow: #444 0 1px 1px;
  background: transparent; }

.jumbotron-banner {
  max-width: 600px;
  margin: 50px auto; }
  .jumbotron-banner .banner-header {
    font-weight: 700;
    font-size: 34px; }
  .jumbotron-banner .banner-text {
    font-weight: 400;
    font-size: 18px;
    margin: 40px auto; }

.section1 {
  height: 450px; }

.section2 {
  padding: 50px 0; }
  .section2 span, .section2 button {
    margin: 25px 0; }

.text-header {
  font-weight: 400;
  font-size: 26px; }

.line-text, .slide-text {
  font-weight: 300;
  font-size: 14px; }

.slide-text {
  display: table; }
  .slide-text i, .slide-text span {
    display: table-cell; }
  .slide-text i {
    color: #3688bf;
    padding-right: 10px; }

.carousel-indicators {
  bottom: -40px; }
  .carousel-indicators li {
    background: #fff;
    border: none;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5); }
  .carousel-indicators li.active {
    background: #4a94c6;
    border: none;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5); }

.section3 .container-fluid {
  background-color: #f7f7f7;
  padding: 70px 0; }

.section3 p.line-text, .section3 p.slide-text {
  padding: 20px 0; }

.section3 .text-header {
  padding-top: 30px; }

.section3 ul li {
  list-style: none;
  padding-top: 10px; }

.section3 ul:last-child {
  padding-bottom: 50px; }

.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 10px 15px; }

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top; }
  .navbar .navbar-collapse {
    text-align: center; } }
